/* #COMMENTS BEGIN#
Values: header: height 270px
		content: height 540px; textalign center
		footer: margintop 97px; height 30px; color white
Colors: background: #1e2023 or #001220
		text: #faf9f8
		gradient: #43cea2, #185a9d
 #COMMENTS DONE# */

/* DEFAULT HTML/CSS SETTINGS BEGIN */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

html, body {
	width: 100%;
    height: 100%;
	background: #001220;
	color: #faf9f8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; /* displaying default system font if google fonts fail to import */
}

body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}

body, ul, ol, dl {
	margin: 0;
}

article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
}
	
h1 {
	font-size: 1.4rem;
}
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 

input, textarea /* re-adding text-selection to input and textarea elements */ {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

textarea { 
	resize: vertical;
}

table { border-collapse: collapse; }
td {
	padding: .5rem;
}

img { 
	border: none;
	max-width: 100%;
}

input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}

input:required:after {
	color: #f00;
	content: " *";
}

input[type="email"]:invalid { 
	background: #f00;
}

.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	
sub, sup { 
	line-height: 0;
}

::-webkit-scrollbar {
	display: none;
}
/* DEFAULT HTML/CSS SETTINGS DONE */

/* ID ELEMENTS BEGIN */
#container {
	width: 100%;
	min-height: 100%;
	background: url('../img/bg-img.png') no-repeat center fixed;
	background-size: cover;
}

#header {
	height: 16.875rem;
}

#content {
	height: 33.75rem;
	text-align: center;
}

#footer {
	margin-top: 6.063rem;
	height: 1.875rem;
	color: white;
	text-align: center;
	font-size: 12pt;
}

#header ul {
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 1.3vw;
}
#header li {
	float: right;
	display: block;
	text-align: center;
}

#nav-links {
	direction: ltr;
}
#nav-links ul {
	margin-left: 1200px;
	margin-top: -30px;
	float: right;
}

#card {
	width: 17.5rem;
    height: 20.313rem;
    color: white;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0,191,255, 0.075);
    box-shadow: rgba(0, 18, 32, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
	transition: ease-in-out;
	transition-duration: 0.5s;
}
#card:hover {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(67, 206, 162,0.10); 
	box-shadow: 0px 0px 15px 5px rgba(67, 206, 162,0.10);
	transform: scale(1.008);
}

#news-section {
	align-items: center;
	display: flex;
	justify-content: center;
}
/* ID ELEMENTS DONE */

/* CLASS ELEMENTS BEGIN */
.link {
	background-image: linear-gradient(90deg, #43cea2, #185a9d);
	background-size: 0% 2px;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition: background-size 300ms ease;
	text-decoration: none;
}
.link:hover {
	background-size: 100% 2px;
}

.glass-btn {
	width: 17.5rem;
    height: 4.688rem;
    color: white;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    gap: 20px;
    border-radius: 100px;
    backdrop-filter: blur(5px);
    background-color: rgba(0,191,255, 0.075);
    box-shadow: rgba(0, 18, 32, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
	transition: ease-in-out;
	transition-duration: 0.5s;
}
.glass-btn:hover {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(67, 206, 162,0.10); 
	box-shadow: 0px 0px 15px 5px rgba(67, 206, 162,0.10);
	transform: scale(1.008);
}

.names-gradient {
	background: #faf9f8;
	background: -webkit-linear-gradient(-150deg, #43cea2, #185a9d);
	background: linear-gradient(-150deg, #43cea2, #185a9d);
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.mid-card-margin {
	margin: 0 50px 0 50px;
}

/* Loader */
.loader-wrapper {
    width: 100%;
    height: 125rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #001220;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    border: 4px solid #ffffff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    animation: loader-inner 2s infinite ease-in;
}

/* Keyframes for loader */
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}
/* CLASS ELEMENTS DONE*/

/* MEDIA QUERIES BEGIN */
@media all and (max-width: 1800px) {
	#nav-links ul {
		margin-left: 1000px;margin-top: -30px;float: right;
	}
}
@media all and (max-width: 1600px) {
	#nav-links ul {
		margin-left: 800px;margin-top: -30px;float: right;
	}
}
@media all and (max-width: 1400px) {
	#nav-links ul {
		margin-left: 600px;margin-top: -30px;float: right;
	}
}
@media all and (max-width: 1100px) {
	#nav-links ul {
		visibility: hidden;
		margin-left: 400px;margin-top: -30px;float: right;
	}
}
@media all and (max-width: 1000px) {
	
	#news-section {
		align-items: normal;
		display: inline;
		justify-content: normal;
		margin-left: 50%;
	}
	.mid-card-margin {
		margin: 50px 0 50px 0;
	}
}
/* MEDIA QUERIES DONE */
